<h1>Listing coordinates</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Coord</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @coordinates.each do |coordinate| %>
      <tr>
        <td><%= coordinate.number %></td>
        <td><%= coordinate.coord %></td>
        <td><%= link_to 'Show', coordinate %></td>
        <td><%= link_to 'Edit', edit_coordinate_path(coordinate) %></td>
        <td><%= link_to 'Destroy', coordinate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coordinate', new_coordinate_path %>
