<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @tracker.id %>
</p>

<p>
  <strong>Infos:</strong>
  <%= @tracker.infos %>
</p>

<%= link_to 'Edit', edit_tracker_path(@tracker) %> |
<%= link_to 'Back', trackers_path %>
